body{
    background-color:bisque
    };
    .hero{
        position:absolute;
        width: 1140px;
        top:50%;
        left:30%;
        transform: translate(-50%,-50%)}
        ;
      *{
          box-sizing: border-box;
      }
        .column{
         flex: 33%;
        padding: 5px;
        }
.row{
    display: flex;
}